#ignore pyc files
*.pyc

doctrees/
.buildinfo
.idea/*
.idea/inspectionProfiles/profiles_settings.xml
.idea/licsar_proc.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
requirements.test.txt
*checkpoint*